*.egg-info
__pycache__
.pytest_cache
*/old/*
data/wrfinput_*
data/partial/*
data/geo_em*
data/*csv
data/*txt
data/*
scripts/cache/*
scripts/*_demo.py
scripts/nohup.out
scripts/download_*
results/wrfchemi_*
results/*nc
results/*/cmaq*
